@using Infra
@using LoginProvider.Code
@{
    <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/Alegreya:400,400i,700,700i,900,900i:f">
    Dependencies.RequireFile("~/Content/_Layout.css");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@this.ViewBag.Title - Login Provider</title>
    @Dependencies.RenderStyles()
</head>
<body>
    <div class="top-menu">
        top menu
    </div>
    <div class="side-menu">
        side menu
    </div>
    <div class="content">
        <h2>@this.ViewBag.Title</h2>
        @this.RenderBody()
    </div>
</body>
</html>