<#@ template language="C#" debug="false" hostspecific="true"#>
<#@ output extension=".cs"#><#
	TypeKind = "interface";
	TypeName = "IFuncCommand";
	HasReturn = true;
#>
<#@ include file="ActionFuncGen.ttinclude"#>