html {
    background-color: #51454e;
    background: url(background-alpha.png) repeat, #51454e;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.6;
}

#login-container-outer {
    margin: 100px auto 0;
    width: 500px;
}

.radius {
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#login-container-outer, #container #adminbar-outer, #container #panel-outer {
    border: 1px solid #51454e;
    -webkit-box-shadow: black 0 0 10px;
    -ms-box-shadow: black 0 0 10px;
    box-shadow: black 0 0 10px;
}

#login-container {
    border: 1px solid #222;
}

#login-header {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0 10px;
    /* http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0.1+7,0.3+94,0.65+100;Custom */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 7%, rgba(0,0,0,0.3) 94%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(7%,rgba(0,0,0,0.1)), color-stop(94%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 7%,rgba(0,0,0,0.3) 94%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 7%,rgba(0,0,0,0.3) 94%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 7%,rgba(0,0,0,0.3) 94%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 7%,rgba(0,0,0,0.3) 94%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    color: rgba(255, 255, 255, 0.875);
    text-shadow: 0 0 2px white;
    font-size: 3em;
}

.radius-top {
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

#login-container, #container #adminbar, #container #panel {
    border: 1px solid #222;
}

#login-content {
    background-color: white;
    padding: 10px 50px;
}


#login-extra {
    border-top-color: #CCC;
    border-top-style: solid;
    border-top-width: 1px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -ms-text-shadow: #EEE 0 1px 1px;
    text-shadow: #EEE 0 1px 1px;
}

.radius-bottom {
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#container #panel ul#main-menu, #container #panel #footer, #login-extra {
    background-color: #CCC;
}

.login_label {
    display: inline-block;
    text-align: left;
    width: 70px;
}

.label {
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 10px 0 30px;
    text-align: left;
    width: 90px;
}

.button2 {
    font-size: 10px;
    font-weight: bold;
    padding: 5px 18px 6px 18px;
    margin-top: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    display: inline-block;
    max-height: 29px;
}

.redB {
    /* http://www.colorzilla.com/gradient-editor/#cc746c+0,be5147+10,9f352b+100;Custom */
    background: #be5147; /* Old browsers */
    background: -moz-linear-gradient(top, #cc746c 0%, #be5147 10%, #9f352b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc746c), color-stop(10%,#be5147), color-stop(100%,#9f352b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cc746c 0%,#be5147 10%,#9f352b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cc746c 0%,#be5147 10%,#9f352b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cc746c 0%,#be5147 10%,#9f352b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cc746c 0%,#be5147 10%,#9f352b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc746c', endColorstr='#9f352b',GradientType=0 ); /* IE6-9 */
    /**/
    border: 1px solid #9f352b;
    color: white;
}

    .redB:hover {
        background: #d48982; /* Old browsers */
        background: -moz-linear-gradient(top, #d48982 0%, #c86c64 10%, #c34135 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d48982), color-stop(10%,#c86c64), color-stop(100%,#c34135)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d48982 0%,#c86c64 10%,#c34135 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d48982 0%,#c86c64 10%,#c34135 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #d48982 0%,#c86c64 10%,#c34135 100%); /* IE10+ */
        background: linear-gradient(to bottom, #d48982 0%,#c86c64 10%,#c34135 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d48982', endColorstr='#c34135',GradientType=0 ); /* IE6-9 */
    }

    .redB:active {
        background: #c0544a; /* Old browsers */
        background: -moz-linear-gradient(top, #c0544a 0%, #a4433a 10%, #872d25 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0544a), color-stop(10%,#a4433a), color-stop(100%,#872d25)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #c0544a 0%,#a4433a 10%,#872d25 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #c0544a 0%,#a4433a 10%,#872d25 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #c0544a 0%,#a4433a 10%,#872d25 100%); /* IE10+ */
        background: linear-gradient(to bottom, #c0544a 0%,#a4433a 10%,#872d25 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0544a', endColorstr='#872d25',GradientType=0 ); /* IE6-9 */
    }

#login-content input[type="text"], #login-content input[type="password"] {
    font-size: 14px;
    padding: 5px;
    width: 220px;
}

form input[type="text"], form input[type="password"], form textarea, select {
    border-color: #CCC #DDD #DDD #CCC;
    border-style: solid;
    border-width: 1px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    -ms-text-shadow: white 0 1px 1px;
    text-shadow: white 0 1px 1px;
}

a.afooter-link:hover {
    color: white;
    -ms-text-shadow: 0 1px 1px #333;
    text-shadow: 0 1px 1px #333;
    text-decoration: none;
}

a.afooter-link {
    color: #333;
    -ms-text-shadow: 0 1px 1px white;
    text-shadow: 0 1px 1px white;
}

a {
    text-decoration: none;
}
