html
{
    background-color: #51454e;
    background: url(background-alpha.png) repeat, #51454e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 100%;
}

.login-box
{
    margin: 10% auto 0;
    width: 420px;
    border: 8px solid #131720;
    border: 8px solid hsl(222, 26%, 10%);
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 2px 1px #000000;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    -ms-box-shadow: 1px 1px 2px 1px #000000;
    -ms-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px #000000;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
}

    .login-box:before
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: "";
        pointer-events: none;
        -webkit-box-shadow: inset 0px 0px 10px 0px black;
        -ms-box-shadow: inset 0px 0px 10px 0px black;
        box-shadow: inset 0px 0px 10px 0px black;
    }

    .login-box > .header
    {
        padding: 0 10px;
        /* http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0.3+12,0.01+24,0.5+61,0.75+100;Custom */
        /* http://www.colorzilla.com/gradient-editor/#51454e+0,000000+100&0.4+0,0.4+4,0+5,0+5,0+9,0.4+10,0.4+14,0+15,0+19,0.4+20,0.4+24,0+25,0+29,0.4+30,0.4+34,0.03+35,0.03+39,0.4+40,0.4+44,0+45,0+49,0.4+50,0.4+54,0.03+55,0.03+59,0.4+60,0.4+64,0.03+65,0.03+69,0.4+70,0.4+74,0.03+75,0.03+79,0.4+80,0.4+84,0.03+85,0.03+89,0.4+90,0.4+94,0.03+95,0.04+100;Custom */
        background: rgb(63,76,107); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(63,76,107,1) 0%, rgba(61,66,102,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(61,66,102,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(61,66,102,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(61,66,102,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(61,66,102,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(63,76,107,1) 0%,rgba(61,66,102,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3d4266',GradientType=0 ); /* IE6-9 */
        color: #ffffff;
        color: rgba(255, 255, 255, 0.875);
        -ms-text-shadow: 0px 0px 2px white, 1px 1px 3px white;
        text-shadow: 0px 0px 2px white, 1px 1px 3px white;
        font-size: 1.25em;
        overflow: hidden;
    }

        .login-box > .header h1
        {
            margin: 10px;
            font-family: "Alegreya", "Times New Roman", serif;
            font-weight: 900;
            font-style: italic;
        }

    .login-box > .content
    {
        background-color: whitesmoke;
        color: slategray;
        font-size: 0.8em;
        text-shadow: 1px 1px 1px white;
        padding: 20px;
        overflow: hidden;
    }

    .login-box > .footer
    {
        background-color: slategray;
        color: snow;
        text-shadow: 1px 1px 1px #000000;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        padding: 10px;
    }

.msg {
    margin: 10px;
    padding: 5px;
    background-color: #d7e6fa;
    color: #131720;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #9dabc9;
}

.editor-group .editor
{
    margin-top: 10px;
    margin-bottom: 10px;
}

    .editor-group .editor:first-child
    {
        margin-top: 5px;
    }

    .editor-group .editor:last-child
    {
        margin-bottom: 5px;
    }

input
{
    font-size: 20px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    padding: 5px;
}

.button2
{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 8px 40px;
    margin-top: 10px;
    white-space: nowrap;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    float: right;
}

.btnGreen
{
    /* http://www.colorzilla.com/gradient-editor/#cc746c+0,be5147+10,9f352b+100;Custom */
    background: #6ccc7c; /* Old browsers */
    background: -moz-linear-gradient(top, #6ccc7c 0%, #47bc5b 10%, #2c9e3f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ccc7c), color-stop(10%,#47bc5b), color-stop(100%,#2c9e3f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6ccc7c 0%,#47bc5b 10%,#2c9e3f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6ccc7c 0%,#47bc5b 10%,#2c9e3f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6ccc7c 0%,#47bc5b 10%,#2c9e3f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6ccc7c 0%,#47bc5b 10%,#2c9e3f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ccc7c', endColorstr='#2c9e3f',GradientType=0 ); /* IE6-9 */
    /**/
    border: 1px solid #2c9e3f;
    color: white;
}

    .btnGreen:hover
    {
        background: #8ad696; /* Old browsers */
        background: -moz-linear-gradient(top, #8ad696 0%, #6cca7c 10%, #3fc956 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ad696), color-stop(10%,#6cca7c), color-stop(100%,#3fc956)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #8ad696 0%,#6cca7c 10%,#3fc956 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #8ad696 0%,#6cca7c 10%,#3fc956 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #8ad696 0%,#6cca7c 10%,#3fc956 100%); /* IE10+ */
        background: linear-gradient(to bottom, #8ad696 0%,#6cca7c 10%,#3fc956 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ad696', endColorstr='#3fc956',GradientType=0 ); /* IE6-9 */
    }

    .btnGreen:active
    {
        background: #7bd189; /* Old browsers */
        background: -moz-linear-gradient(top, #7bd189 0%, #5bc36c 10%, #32b648 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bd189), color-stop(10%,#5bc36c), color-stop(100%,#32b648)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #7bd189 0%,#5bc36c 10%,#32b648 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #7bd189 0%,#5bc36c 10%,#32b648 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #7bd189 0%,#5bc36c 10%,#32b648 100%); /* IE10+ */
        background: linear-gradient(to bottom, #7bd189 0%,#5bc36c 10%,#32b648 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bd189', endColorstr='#32b648',GradientType=0 ); /* IE6-9 */
    }

input[type=text], input[type=password]
{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
